/*Fonts*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans_Condensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans_Condensed-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/OpenSans_Condensed-Bold.woff") format("woff");
  font-display: swap;
}


/*Layouts*/
html, body {
  width: 100%;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: transparent;
  z-index: -1;
}

.container {
  padding: 0 4vw;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__main {
  flex-grow: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 45px;
  text-transform: capitalize;
}

.btn-primary {
  background-color: #0AA373;
  border: none;
  color: white;
}

/*header*/

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 100px;
  max-height: 100px;

  color: #0AA373;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .nav {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.nav__link {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .nav__link {
    flex-shrink: 1;
  }
}

.nav__logo {
  margin-right: 7vw;
}

@media (max-width: 1024px) {
  .nav__logo {
    margin: 0;
    width: 80%;
    height: auto;
  }
}

.nav__search-button {
  display: flex;
  column-gap: 7px;
  padding-left: 20px;

  background-color: transparent;
  border: none;
  color: #0AA373;

  cursor: pointer;
}

.nav__search-button:hover {
  opacity: 0.7;
}

.nav__search-button:active {
  opacity: 1;
}


@media (max-width: 768px) {
  .nav__search-button {
    display: none;
  }
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  .nav-search {
    display: none;
  }
}

.nav-search__label {
  display: none;
}

.nav-search__input {
  flex-grow: 1;
  padding: 3px 10px;
}

.nav-search__button {
  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 0;
}

.nav-search__button--close {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #0AA373;
}


.menu {
  position: absolute;
  top: 98px;
  right: 0;
  width: 40vw;
  min-width: 230px;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: flex-start;
  align-items: flex-end;

  padding: 2em 4em;

  list-style: none;
  background-color: white;
}

.menu.is-closed {
  display: none;
}

.menu__item:hover {
  opacity: 0.7;
}

.menu__item:active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .menu {
    position: inherit;

    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    flex-grow: 1;

    padding: 0;

    background-color: inherit;
  }

  .menu.is-closed {
    display: flex;
  }
}

.menu__link {
  padding: 5px;

  text-decoration: none;
  color: inherit;
}

.menu__item--search {
  display: block;
}

@media (min-width: 1024px) {
  .menu__item--search {
    display: none;
  }
}

.menu__link--search {
  display: flex;
  column-gap: 7px;
}

.top-header__menu-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin: 0 18px;
}

@media (min-width: 1024px) {
  .top-header__menu-toggle-button {
    display: none;
  }
}

.top-header__toggle {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0AA373;
  box-shadow: 0 8px 0 0 #0AA373, 0 -8px 0 0 #0AA373;
  z-index: 2;
}

.top-header-search__button {
  display: none;
  justify-content: center;
  align-items: center;

  margin-right: 7px;

  background: transparent;
  border: none;
}

@media (min-width: 768px) {
  .top-header-search__button {
    display: flex;
  }
}

.top-header__login {
  background-color: transparent;
  border: none;
  color: #0AA373;
  margin-left: 20px;
  padding: 5px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  cursor: pointer;
}

.top-header__login:hover {
  opacity: 0.7;
}

.top-header__login:active {
  opacity: 1;
}

@media (min-width: 768px) {
  .top-header__login-icon {
    display: none;
  }
}


@media (min-width: 768px) {
  .top-header__login-label {
    display: block;
  }

  .top-header__login {
    min-width: 115px;
  }
}


/*main section*/

.promo {
  width: 100%;
  height: 100%;
}

.promo__content {
  display: grid;
  grid-template-columns: 43% 57%;
  height: 100%;
}

@media (max-width: 768px) {
  .promo__content {
    grid-template-columns: 1fr;
  }
}

.promo__blur-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 33px;

  padding: 5vw 2vw 5vw 11.5vw;
  color: white;

  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(22px);
  -webkit-mask-image: url("img/svg-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-position: right;
  mask-image: url("img/svg-mask.svg");
  mask-size: cover;
  mask-position: right;
}

@media (max-width: 480px) {
  .promo__blur-section {
    padding-bottom: 10vw;
  }
}

.promo__slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
}

@media (max-width: 1024px) {
  .promo__slogan {
    font-size: 30px;
  }
}

@media (max-width: 488px) {
  .promo__slogan {
    font-size: 24px;
  }

  .promo__link-text {
    font-size: 16px;
  }

  .promo__link-icon {
    width: 30px;
  }
}

.promo__links-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  row-gap: 23px;

  padding: 5vw 4vw;
}

@media (max-width: 768px) {
  .promo__links-section {
    padding: 5vw 8vw;
  }
}

.promo__link {
  display: flex;
  column-gap: 1em;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.35;

  text-decoration: none;
  color: inherit;
}

.promo__link:hover {
  opacity: 0.7;
}

.promo__link:active {
  opacity: 1;
}

.promo__app-links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

@media (max-width: 488px) {
  .promo__app-links {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 768px) {
  .promo__app-badge {
    width: 104px;
    height: 31px;
  }
}

.promo__socials {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.promo__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: black;

  border-radius: 50%;
}


.promo__app-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: -1;
  object-fit: cover;
  filter: brightness(80%);
}

/*popup*/

.auth-popup {
  position: absolute;
  top: calc(50% - 150px);
  right: calc(50% - 150px);
  z-index: 3;

  width: 300px;

  background-color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 30px;
  background-color: white;
}

.auth-form__field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form__input {
  width: 200px;
  padding: 5px;
  border: 1px solid grey;
}

.auth-popup__exit-button {
  padding: 10px;
  text-align: right;
  cursor: pointer;
}

.auth-popup__exit-button:hover {
  opacity: 0.7;
}

.auth-popup__exit-button:active {
  opacity: 1;
}


.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}