/*Fonts*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans_Condensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans_Condensed-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/OpenSans_Condensed-Bold.woff") format("woff");
  font-display: swap;
}


/*Layouts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 4vw;
}


/*Main*/
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__main {
  flex-grow: 1;
}


.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;

  color: #0AA373;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .nav {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.nav__search {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 5px 5px 40px;
}

@media (min-width: 768px) {
  .nav__search {
    display: flex;
  }
}

.top-header-search__label {
  display: none;
}


@media (min-width: 768px) {
  .top-header-search__label {
    display: flex;
  }
}

.nav__logo {
  margin-right: 7vw;
}

@media (max-width: 1024px) {
  .nav__logo {
    margin: 0;
    width: 80%;
    height: auto;
  }
}

.menu {
  display: none;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 10px;
  list-style: none;

  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
  }
}


.menu__link {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.menu__link--search {
  display: block;
}

@media (min-width: 1024px) {
  .menu__link--search {
    display: none;
  }

}

.top-header-search__button {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 7px;

  background: transparent;
  border: none;
}

@media (min-width: 768px) {
  .top-header-search__button {
    display: flex;
  }
}

.top-header__login {
  background-color: transparent;
  border: none;
  color: #0AA373;
  margin-left: 20px;
  padding: 5px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}


@media (min-width: 768px) {
  .top-header__login-icon {
    display: none;
  }
}


@media (min-width: 768px) {
  .top-header__login-label {
    display: block;
  }

  .top-header__login {
    min-width: 115px;
  }
}

.promo {
  width: 100%;
  height: 100%;
}

.promo__content {
  display: grid;
  grid-template-columns: 43% 57%;
  height: 100%;

}

.promo__blur-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 33px;

  padding: 5vw 2vw 5vw 11.5vw;
  color: white;

  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(22px);
  -webkit-mask-image: url("img/svg-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-position: right;
  mask-image: url("img/svg-mask.svg");
  mask-size: cover;
  mask-position: right;

}

.promo__slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
}

@media (max-width: 1024px) {

  .promo__slogan {
    font-size: 34px;
  }
}


.promo__links-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  row-gap: 23px;

  padding: 5vw 4vw;
}

.promo__link {
  display: flex;
  column-gap: 1em;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.35;

  text-decoration: none;
  color: inherit;

}

.promo__app-links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.promo__socials {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.promo__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: black;

  border-radius: 50%;
  padding: -1px;
}

.promo__app-link {
  display: flex;
  justify-content: center;
  align-items: center;

}

#myVideo {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: -1;
  object-fit: cover;
  filter: brightness(80%);
}


.top-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-left: 20px;
}

@media (min-width: 1024px) {
  .top-header__button {
    display: none;
  }
}

.top-header__toggle {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0AA373;
  box-shadow: 0 8px 0 0 #0AA373, 0 -8px 0 0 #0AA373;
  z-index: 4;
}
